{{define "title"}}Home{{ end }}

{{define "page"}}
<h2>Web Components</h2>
<web-button>Button</web-button>
<web-card>Card</web-card>
<web-nested>Nested</web-nested>
<css-only-component>CSS-only component</css-only-component>
{{ end }}
